
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');







body{
    /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e);  */
   background-image: url("https://image.lexica.art/full_webp/5d8e9156-d180-4220-a1ab-f798336aac52");
   
   
    /* background: url("https://image.lexica.art/full_webp/6748db82-f373-4fab-b68d-6d9f2821b3f9") center ; */

    font-family: 'Pixelify Sans', sans-serif;

overflow: hidden;
   
    /* font-family: 'Roboto'; */

  
}
.box1{
    height: 450px;
    width: 400px;
    background: linear-gradient( #e2dbdb33);
    backdrop-filter: blur(5px); 
    border-radius: 15px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 550px;
    margin-top: 100px;
    
    
    

    
    
     
}
.input{
     display:  flex;
     flex-direction: column;
 
    align-items: center;
    justify-items: center;
     
    

    
}
.box2{
  height: 500px;
    width: 400px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: linear-gradient( #e2dbdb33);
     backdrop-filter: blur(5px); 
    display: none;
     left: 37vw;
     position: absolute;
     bottom: 17vh;
      
}
 .output{
     display:  flex;
     flex-direction: column;
 
    align-items: center;
    justify-items: center; 



   
    
 }
  input{
     margin: 10px;
     border-radius: 7px;
 width: 270px;
  height: 30px;
   border: none;
   outline: none;
    text-indent: 13px;
    transition: all 0.3s ease;
    box-shadow: 0.1px  0.2px 5px hsl(120, 100%, 100%),1px 1px 5px rgb(238, 245, 238);
    /* font-family: 'Roboto'; */
   


      
  }
  input:hover{
    transform: scale(0.9);
  }
 button{
  position: relative;
  width: 100px;
  height: 35px;
  color: white;
  background-color: rgb(17, 18, 17);
  border-radius: 9px;
  border: none;
  font-weight: 500;
  box-shadow: 0.1px  0.2px 5px hsl(120, 75%, 78%),1px 1px 5px rgb(130, 238, 130);
  /* box-shadow: 0.1px  0.2px 5px hsl(198, 96%, 54%),1px 1px 5px rgb(130, 238, 130); */
  cursor: pointer;
 transition: all 0.3s ease;
  }

  button:hover{
    transform: scale(0.9);

  }
  #i{
    color: aliceblue;
    text-align: center;
     font-size: 9px;
     font-weight: 500;
  transition: all 0.3s ease;
  }
  #i:hover{
    transform: scale(0.9);
    text-decoration: underline;
  color: rgb(121, 226, 121);
  }

  #head {
    color: white;
  font-weight: 500;
  transition: all 0.3s ease;
   
  }
  #head:hover{
    transform: scale(0.9);
    color: rgb(121, 226, 121);
  }
@keyframes spin{
  100%{
    transform: translateX(-50%) translateY(-50%) rotate(20deg);
  }
}

#create{
  color: white;
  background-color: rgb(18, 18, 18);
  width: 150px;
  height: 40px;
   text-align: center;
   margin-top: 20px;
}.reason{
  color: white;
  font-weight: 500;
display: flex;
margin-top: 5px;
margin-bottom: 4px;
text-decoration: none;
transition: all 0.3s ease;
}
.reason:hover{
text-decoration: underline rgb(139, 219, 139);
transform: scale(0.9);
}
.input h1{
  color: white;
  font-weight: 500;
  transition: all 0.3s ease;
}
.Logo{
  position: absolute;
  top: 0;
  left: 7px;
  color: white;
  font-weight: 500;
  transition: all 0.3s ease;

}
.input h1:hover{
  transform: scale(0.9);
  color: rgb(121, 226, 121);
}
.Logo:hover{
  color: rgb(121, 226, 121);
  transform: scale(0.9);
}
.em{
  margin-top: 10px;
}
#request{
  color: white;
  font-weight: 300;
display: flex;
margin-top: 5px;
margin-bottom: 4px;
text-decoration: none;
transition: all 0.3s ease;
font-size: 10px;

}
#request:hover{
  text-decoration: underline rgb(139, 219, 139);
  transform: scale(0.9);
}
.Forget{
  height: 300px;
    width: 400px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 display: none;
    background: linear-gradient( #e2dbdb33);
     backdrop-filter: blur(5px); 
     left: 37vw;
     position: absolute;
      bottom: 33vh;
}
.process{
  display:  flex;
  flex-direction: column;
 align-items: center;
 justify-items: center; 
}
.Popup{
  height: 500px;
    width: 400px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    background: linear-gradient( #e2dbdb33);
     backdrop-filter: blur(5px); 
     left: 37vw;
     position: absolute;
      bottom: 17vh;
}

#head4{
 font-size: large;
  color: white;
  font-weight: 500;
  transition: all 0.3s ease;
 
  border-bottom: 1px solid rgb(234, 216, 216);
}
#text{
  font-size: small;
  color: white;
  font-weight: 100;
}




